build/*

src/quiz/TTC_camera/exercise/build/cmake_install.cmake
src/quiz/TTC_camera/exercise/build/CMakeCache.txt
src/quiz/TTC_camera/exercise/build/compute_ttc_camera
src/quiz/TTC_camera/exercise/build/Makefile
src/quiz/TTC_camera/exercise/build/CMakeFiles/cmake.check_cache
src/quiz/TTC_camera/exercise/build/CMakeFiles/CMakeDirectoryInformation.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/CMakeOutput.log
src/quiz/TTC_camera/exercise/build/CMakeFiles/Makefile.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/Makefile2
src/quiz/TTC_camera/exercise/build/CMakeFiles/progress.marks
src/quiz/TTC_camera/exercise/build/CMakeFiles/TargetDirectories.txt
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CMakeSystem.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CompilerIdC/a.out
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
src/quiz/TTC_camera/exercise/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/build.make
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/cmake_clean.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/CXX.includecache
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/depend.internal
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/depend.make
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/DependInfo.cmake
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/flags.make
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/link.txt
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/progress.make
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/src/compute_ttc_camera.cpp.o
src/quiz/TTC_camera/exercise/build/CMakeFiles/compute_ttc_camera.dir/src/structIO.cpp.o
src/quiz/gaussian_smoothing/gradient_filtering/build/cmake_install.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeCache.txt
src/quiz/gaussian_smoothing/gradient_filtering/build/gaussian_smoothing
src/quiz/gaussian_smoothing/gradient_filtering/build/gradient_sobel
src/quiz/gaussian_smoothing/gradient_filtering/build/magnitude_sobel
src/quiz/gaussian_smoothing/gradient_filtering/build/Makefile
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/cmake.check_cache
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/CMakeDirectoryInformation.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/CMakeOutput.log
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/Makefile.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/Makefile2
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/progress.marks
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/TargetDirectories.txt
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CMakeSystem.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CompilerIdC/a.out
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/build.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/cmake_clean.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/CXX.includecache
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/depend.internal
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/depend.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/DependInfo.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/flags.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/link.txt
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/progress.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gaussian_smoothing.dir/src/gaussian_smoothing.cpp.o
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/build.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/cmake_clean.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/CXX.includecache
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/depend.internal
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/depend.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/DependInfo.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/flags.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/link.txt
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/progress.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/gradient_sobel.dir/src/gradient_sobel.cpp.o
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/build.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/cmake_clean.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/CXX.includecache
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/depend.internal
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/depend.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/DependInfo.cmake
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/flags.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/link.txt
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/progress.make
src/quiz/gaussian_smoothing/gradient_filtering/build/CMakeFiles/magnitude_sobel.dir/src/magnitude_sobel.cpp.o
src/quiz/TTC_lidar/exercise/build/cmake_install.cmake
src/quiz/TTC_lidar/exercise/build/CMakeCache.txt
src/quiz/TTC_lidar/exercise/build/compute_ttc_lidar
src/quiz/TTC_lidar/exercise/build/Makefile
src/quiz/TTC_lidar/exercise/build/CMakeFiles/cmake.check_cache
src/quiz/TTC_lidar/exercise/build/CMakeFiles/CMakeDirectoryInformation.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/CMakeOutput.log
src/quiz/TTC_lidar/exercise/build/CMakeFiles/Makefile.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/Makefile2
src/quiz/TTC_lidar/exercise/build/CMakeFiles/progress.marks
src/quiz/TTC_lidar/exercise/build/CMakeFiles/TargetDirectories.txt
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CMakeSystem.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CompilerIdC/a.out
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
src/quiz/TTC_lidar/exercise/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/build.make
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/cmake_clean.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/CXX.includecache
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/depend.internal
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/depend.make
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/DependInfo.cmake
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/flags.make
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/link.txt
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/progress.make
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/src/compute_ttc_lidar.cpp.o
src/quiz/TTC_lidar/exercise/build/CMakeFiles/compute_ttc_lidar.dir/src/structIO.cpp.o
